h2{
    margin-bottom: 20px;
}

.table-container table{
    width: 100%;
    margin-bottom: 30px;
}

#crear{
    width: 70%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#crear .dato-vuelo{
    box-sizing: border-box;
    width: 50%;
    padding: 7px;
    text-align: center;
    font-size: 1.5em;
}

#crear .dato-vuelo span, #crear .dato-vuelo select{
    display: block;
    margin: 20px auto;
}

#crear .dato-vuelo select{
    height: 35px;
}

#crear button{
    display: block;
    margin: 0 auto;
}