* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

footer{
    position: absolute;
    left: 50%;
    bottom: 10px;
    padding-top: 10px;
    transform: translate(-50%,0);
    width: 100%;
    border-top: 1px solid black;
    text-align: center;
}

.has-shadow{
    -webkit-box-shadow: 6px 9px 0px 3px rgba(0,0,0,0.52);
    -moz-box-shadow: 6px 9px 0px 3px rgba(0,0,0,0.52);
    box-shadow: 6px 9px 0px 3px rgba(0,0,0,0.52);
}


.normal-button{
    border: 1px solid black;
    min-height: 30px;
    max-height: 70px;
    cursor: pointer;
}

.sub-component-buttons{
    width: 20%;
    height: 100%;
    float: left;
}

.sub-component-buttons div{
    margin-bottom: 25px;
    text-align: center;
}

.sub-component-buttons div span{
    line-height: 30px;
}

.container{
    width: 80%; 
    margin: 0 auto;
}

.sub-component{
    width: 75%;
    float: right;
}

.inactive{
    height: 0;
    visibility: hidden;
}

.active{
    visibility: visible;
}

.normal-select{
    height: 30px;
}

.normal-table{
    width: 100%;
    border: 1px solid black;
    text-align: center;
}